@import 'tailwindcss';
@import "./theme.css"; 

@theme {
	--font-sans: 'Roboto Flex', 'Golos Text', sans-serif;

	--shadow-sm:
		0 0.031157217902562404px 0.09347165370768722px
			hsl(217deg 15% 50% / 0.01264078663033916),
		0 0.06869785256991211px 0.2060935577097363px
			hsl(217deg 15% 50% / 0.01860110569425095),
		0 0.1150309091223339px 0.3450927273670017px
			hsl(217deg 15% 50% / 0.022960410445811562),
		0 0.173742023836324px 0.521226071508972px
			hsl(217deg 15% 50% / 0.026622555470687495),
		0 0.2504310374717178px 0.7512931124151534px hsl(217deg 15% 50% / 0.03),
		0 0.3544174318746441px 1.0632522956239323px
			hsl(217deg 15% 50% / 0.03337744452931251),
		0 0.5026317812067433px 1.50789534362023px
			hsl(217deg 15% 50% / 0.037039589554188436),
		0 0.730032911054946px 2.190098733164838px
			hsl(217deg 15% 50% / 0.04139889430574904),
		0 1.125000000000001px 3.3750000000000036px
			hsl(217deg 15% 50% / 0.04735921336966084),
		0 1.9999999999999996px 5.999999999999998px
			hsl(217deg 15% 50% / 0.06000000000000001);
			
	--shadow-md:
		0 0.09347165370768722px 0.28041496112306163px
			hsl(217deg 15% 50% / 0.01264078663033916),
		0 0.2060935577097363px 0.618280673129209px
			hsl(217deg 15% 50% / 0.01860110569425095),
		0 0.3450927273670017px 1.035278182101005px
			hsl(217deg 15% 50% / 0.022960410445811562),
		0 0.521226071508972px 1.5636782145269161px
			hsl(217deg 15% 50% / 0.026622555470687495),
		0 0.7512931124151534px 2.2538793372454604px hsl(217deg 15% 50% / 0.03),
		0 1.0632522956239323px 3.189756886871797px
			hsl(217deg 15% 50% / 0.03337744452931251),
		0 1.50789534362023px 4.52368603086069px
			hsl(217deg 15% 50% / 0.037039589554188436),
		0 2.190098733164838px 6.570296199494514px
			hsl(217deg 15% 50% / 0.04139889430574904),
		0 3.3750000000000036px 10.12500000000001px
			hsl(217deg 15% 50% / 0.04735921336966084),
		0 5.999999999999998px 17.999999999999996px
			hsl(217deg 15% 50% / 0.06000000000000001);

	--shadow-lg:
		0 0.18694330741537443px 0.5608299222461233px
			hsl(217deg 15% 50% / 0.02528157326067832),
		0 0.4121871154194726px 1.236561346258418px
			hsl(217deg 15% 50% / 0.0372022113885019),
		0 0.6901854547340034px 2.07055636420201px
			hsl(217deg 15% 50% / 0.045920820891623124),
		0 1.042452143017944px 3.1273564290538323px
			hsl(217deg 15% 50% / 0.05324511094137499),
		0 1.5025862248303068px 4.507758674490921px hsl(217deg 15% 50% / 0.06),
		0 2.1265045912478646px 6.379513773743594px
			hsl(217deg 15% 50% / 0.06675488905862502),
		0 3.01579068724046px 9.04737206172138px
			hsl(217deg 15% 50% / 0.07407917910837687),
		0 4.380197466329676px 13.140592398989028px
			hsl(217deg 15% 50% / 0.08279778861149809),
		0 6.750000000000007px 20.25000000000002px
			hsl(217deg 15% 50% / 0.09471842673932168),
		0 11.999999999999996px 35.99999999999999px
			hsl(217deg 15% 50% / 0.12000000000000002);

	--shadow-xl:
		0 0.28041496112306163px 0.8412448833691849px
			hsl(217deg 15% 50% / 0.02528157326067832),
		0 0.618280673129209px 1.854842019387627px
			hsl(217deg 15% 50% / 0.0372022113885019),
		0 1.035278182101005px 3.105834546303015px
			hsl(217deg 15% 50% / 0.045920820891623124),
		0 1.5636782145269161px 4.691034643580748px
			hsl(217deg 15% 50% / 0.05324511094137499),
		0 2.2538793372454604px 6.76163801173638px hsl(217deg 15% 50% / 0.06),
		0 3.189756886871797px 9.56927066061539px
			hsl(217deg 15% 50% / 0.06675488905862502),
		0 4.52368603086069px 13.57105809258207px
			hsl(217deg 15% 50% / 0.07407917910837687),
		0 6.570296199494514px 19.710888598483542px
			hsl(217deg 15% 50% / 0.08279778861149809),
		0 10.12500000000001px 30.37500000000003px
			hsl(217deg 15% 50% / 0.09471842673932168),
		0 17.999999999999996px 53.999999999999986px
			hsl(217deg 15% 50% / 0.12000000000000002);
}

@layer base {
	body {
		::-webkit-scrollbar {
			@apply size-3;
		}

		::-webkit-scrollbar-track,
		::-webkit-scrollbar-corner {
			@apply bg-light rounded-full;
		}

		::-webkit-scrollbar-thumb {
			@apply bg-gray-light hover:bg-gray/40 rounded-full bg-clip-content;
		}
	}

	h1,
	h2,
	h3 {
		@apply font-bold;
	}

	svg {
		@apply size-6 shrink-0;
	}
}
