:root {
  --brand-950: #0B1511;
  --brand-800: #113229;
  --brand-600: #1E6A55;
  --brand-400: #47B89A;
  --brand-300: #7EDBC2;
  --brand-100: #E8FFF7;

  --ink-900: #101113;
  --paper: #ffffff;
}

.dark {
  --paper: #0A0B0C;
  --ink-900: #F2F5F4;
}
